{% assign tech_icon = 'fa-code' %}
{% assign tech_name = 'Technology' %}
{% if include.tags contains 'Memo' %}
  {% assign tech_icon = 'fa-note-sticky' %}
  {% assign tech_name = 'Memo' %}
{% elsif include.tags contains 'Redis' %}
  {% assign tech_icon = 'fa-layer-group' %}
  {% assign tech_name = 'Redis' %}
{% elsif include.tags contains 'JPA' %}
  {% assign tech_icon = 'fa-database' %}
  {% assign tech_name = 'JPA' %}
{% elsif include.tags contains 'Spring MVC' %}
  {% assign tech_icon = 'fa-route' %}
  {% assign tech_name = 'Spring MVC' %}
{% elsif include.tags contains 'Spring' %}
  {% assign tech_icon = 'fa-leaf' %}
  {% assign tech_name = 'Spring Framework' %}
{% endif %}
<span class="post-tech-icon" role="img" aria-label="{{ tech_name }}" title="{{ tech_name }}">
  <i class="fas {{ tech_icon }}" aria-hidden="true"></i>
</span>
